"*":
  "exception-reporting":
    userId: "bb37b461-3b2f-79d2-d484-8a3bc1d193d5"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    disabledPackages: [
      "jslint"
      "node-debugger"
    ]
  minimap:
    absoluteMode: true
  editor:
    invisibles: {}
    scrollPastEnd: true
    fontSize: 13
    tabLength: 4
  "node-debugger":
    nodeArgs: "--harmony"
    nodePath: "/usr/local/bin/node"
